.container {
  background-color: bisque;
  min-height: 80vh;
  border: 5px solid black;
  /* margin: 2px; */
  padding: 2px;
}

.box {
  height: 150px;
  width: 150px;
  border: 2px solid brown;
  margin: 2px;
  padding: 2px;
  color: white;
  /* font-size: 50px; */
}

#box1 {
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  background-color: aqua;
  color: black;
}
#box2 {
  /* flex-grow: 1; */
  /* flex-shrink: 3; */
  background-color: blue;
  /* order: -1; */
}
#box3 {
  /* flex-grow: 1; */
  /* flex-shrink: 2; */
  background-color: orange;
  /* order: 1; */
  /* align-self: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#box4 {
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  background-color: brown;
  /* order: 9999; */
}

/*  */

.container {
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* align-content: center; */

  /* gap: 20px;

  */
  /* justify-content: space-between; */
  /* align-items: center; */
}

* {
  margin: 0;
}

.header {
  background-color: aqua;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.links {
  display: flex;
  gap: 15px;
}

.header a {
  text-decoration: none;
}
