/* body {
  background-color: #91c6bc;
}

@media (min-width: 1000px) {
  body {
    background-color: #b8db80;
  }
}

@media (min-width: 500px) {
  body {
    background-color: #ef7722;
  }
} */

/* 300px, 600px, 1200px */
