/* External CSS */
/* Name: Live Server
Id: ritwickdey.LiveServer
Description: Launch a development local Server with live reload feature for static & dynamic pages
Version: 5.7.9
Publisher: Ritwick Dey
VS Marketplace Link: https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer */

h1 {
  text-shadow: 2px 2px 10px blue;
  text-decoration: underline;
}

p {
  color: red;
  background-color: aquamarine;
}
