* {
  margin: 0;
  padding: 0;
}
.hello {
  border: 2px solid red;
  position: absolute;
  top: 0px;
  right: 0;
  /* right: 20px; */
}

img {
  position: absolute;
  top: 200px;
  right: 200px;
}

.learning {
  border: 2px solid green;
  width: 60%;
  height: 40vh;
  position: relative;
}
