.container {
  background-color: bisque;
  min-height: 80vh;
  border: 5px solid black;
  margin: 2px;
  padding: 2px;
}
.box {
  height: 150px;
  width: 150px;
  border: 2px solid brown;
  margin: 2px;
  padding: 2px;
}

#box1 {
  background-color: aqua;
}
#box2 {
  background-color: blue;
}
#box3 {
  background-color: orange;
}
#box4 {
  background-color: brown;
}

/*  */

.container {
  display: flex;
  flex-direction: row-reverse;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  align-items: center;
  /* align-content: center; */
  /* gap: 50px; */


}
