@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  /* https://cssgradient.io/ */

  /* background: radial-gradient(
    circle,
    rgba(20, 33, 219, 1) 0%,
    rgba(204, 80, 235, 1) 50%,
    rgba(227, 0, 30, 1) 100%
  ); */
  height: 100vh;
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#dd3030, #0606f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.my-icon {
  font-size: 50px;
  color: red;
}
