/* start from 235 */
h1 {
  color: red;
  border: 2px solid green;
  text-align: center;
  font-style: italic;
  font-weight: 900;
  text-decoration: underline;
}

a {
  text-transform: uppercase;
  font-size: 100px;
  border: 5px solid red;
}

/* (dot) . is for class */
.testing {
  background-color: pink;
  color: green;
}

.second-para {
  background-color: purple;
  color: white;
}
