@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(227, 226, 226);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 140px;
  background-color: white;
}

.header > div {
  display: flex;
  gap: 46px;
  align-items: center;
}

img {
  width: 180px;
}

a {
  font-weight: 500;
  font-size: 17.16px;
  color: black;
  text-decoration: none;
}

.help-btn {
  background-color: #75bf7a;
  color: white;
  border: none;
  border-radius: 5.95px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 600;
  font-size: 22px;
}

.hero-section {
  display: flex;

  height: 70vh;
}

.section-one {
  border: 2px solid red;
  width: 50%;

  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: end;
}
.section-one h2 {
  font-size: 60.73px;
  font-weight: 800;
}

.section-one p {
  font-size: 24px;
  font-weight: 500;
  color: #9e9da2;
}

.section-two {
  border: 2px solid green;
  width: 50%;

  display: flex;
  justify-content: center;
}

.section-two > img {
  width: 500px;
}

.my-button {
  font-size: 24.6px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: 800;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;

  /* border: 10px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.my-button > img {
  width: 45px;
}

.buttons-ki-div {
  display: flex;
  justify-content: space-around;
}

.green-section {
margin-left: 80px;
margin-right: 80px;

  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #75bf7a;
  height: 166px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.green-section p {
  font-size: 24.6px;
  font-weight: 600;
  color: #ffffff;
}

.green-section input {
  font-size: 24px;
  padding: 20px;
  border-radius: 4.39px;
  border: none;
  width: 400px;
}

.green-section input:focus {
  outline-color: #75bf7a;
}
.green-section > div {
  display: flex;
  gap: 12px;
}