@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  /* CSS Variables  https://www.w3schools.com/css/css3_variables.asp */
  --theme-color: #75bf7a;
  --light-text-color: #9e9da2;
}
/* ctrl + D */

body {
  background-color: #f9f9f9;
}

.header {
  padding-left: 80px;
  padding-right: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 140px;
  background-color: white;
}

.header > div {
  display: flex;
  gap: 46px;
  align-items: center;
}

img {
  width: 180px;
}

a {
  font-weight: 500;
  font-size: 17.16px;
  color: black;
  text-decoration: none;
}

.help-btn {
  background-color: var(--theme-color);
  color: white;
  border: none;
  border-radius: 5.95px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 600;
  font-size: 22px;
}

.hero-section {
  margin-left: 80px;
  margin-right: 80px;
  display: flex;

  height: 70vh;
}

.section-one {
  width: 50%;

  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: end;
}
.section-one h2 {
  font-size: 60.73px;
  font-weight: 800;
}

.section-one p {
  font-size: 24px;
  font-weight: 500;
  color: var(--light-text-color);
}

.section-two {
  width: 50%;

  display: flex;
  justify-content: center;
}

.section-two > img {
  width: 500px;
}

.my-button {
  font-size: 24.6px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: 800;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;

  /* border: 10px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.my-button > img {
  width: 45px;
}

.buttons-ki-div {
  display: flex;
  justify-content: space-around;
}

.green-section {
  margin-left: 80px;
  margin-right: 80px;

  margin-top: 100px;
  margin-bottom: 100px;
  background-color: var(--theme-color);
  height: 166px;
  border-radius: 10px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.green-section p {
  font-size: 24.6px;
  font-weight: 600;
  color: white;
}

.green-section input {
  font-size: 24px;
  padding: 20px;
  border-radius: 4.39px;
  border: none;
  width: 400px;
}

.green-section input:focus {
  outline-color: var(--theme-color);
}
.green-section > div {
  display: flex;
  gap: 12px;
}

.section-heading {
  text-align: center;
  font-size: 46px;
  font-weight: 800;
}

.section-heading span {
  color: var(--theme-color);
}
.section-para {
  font-weight: 500;
  font-size: 23px;
  color: var(--light-text-color);
  width: 50%;
  text-align: center;
}

.text-wala-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 25px;
}

.circle {
  width: 400px;
  height: 400px;
  border-radius: 999px;
  background-color: var(--theme-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-section {
  /* parent / container */
  height: 90vh;

  display: flex;
}

.mobile-section-one {
  /* width: 33%; */
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-evenly;
}

.mobile-section-two {
  /* width: 33%; */

  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-section-three {
  /* width: 33%; */
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.circle > img {
  width: 278.9px;
}

.option {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.option > img {
  width: 60px;
}
.option > p {
  font-weight: 500;
  font-size: 20px;
  color: var(--light-text-color);
}
.option > h3 {
  font-weight: 800;
  font-size: 22px;
}

.option-right {
  align-items: end;
  text-align: right;
}

.all-benefits {
  display: flex;
  flex-direction: column;

  margin-left: 80px;
  margin-right: 80px;
  margin-top: 52px;
  margin-bottom: 52px;

  gap: 56px;
}
.benefit {
  background-color: rgb(224, 248, 214);

  height: 304px;
  width: 80%;
  border-radius: 10px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.benefit-right {
  align-self: flex-end;
}

.benefit h4 {
  font-size: 33.94px;
  font-weight: 600;
}

.benefit span {
  font-size: 88px;
  font-weight: 500;
  color: var(--theme-color);
}

.benefit p {
  color: var(--light-text-color);
  font-size: 22px;
}
.benefit img {
  width: 256.79px;
}

.benefit div {
  width: 380px;
}

footer {
  height: 300px;
  display: flex;
}

footer > div {
  width: 25%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
